# -----------------------------
# Python virtual environments
# -----------------------------
pass/
venv/
env/
*.venv/

# -----------------------------
# Python cache files
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# -----------------------------
# Application-sensitive files
# -----------------------------
Vault/
myspm_logs/

# -----------------------------
# Local testing / development
# -----------------------------
test.py
*.log
*.tmp
*.bak

# -----------------------------
# OS-specific junk files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Editor-specific:
# -----------------------------
.vscode/
.idea/
*.swp

